.body-admin {
  background-image: url(https://cdn.glitch.global/362a0e10-917d-4260-9315-6cfa19031e59/fondeLogin.png?v=1716503853648);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}